extends layout 
block layout-content 
  section.menu#menu 
    h1.heading  
      span Our Menu 
    .box-wrapper 
      div.box
        a(href="#")
            - var img = "../images/coffee11.jpg"
            img(src=img) 
            //-citation : https://images.unsplash.com/photo-1590233722406-fbec1abdde3f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y2FwdWNjaW5vfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60
        h3 affagato  
        div.cost $15.99
        a(href="#").btn Add to cart
      div.box
        a(href="#")
            - var img = "../images/coffee8.jpg"
            img(src=img) 
            //-citation :https://images.unsplash.com/photo-1461023058943-07fcbe16d735?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzd8fGNvZmZlZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60
        h3 cold brew 
        div.cost $12.99
        a(href="#").btn Add to cart
      div.box
        a(href="#")
            - var img = "../images/coffee7.jpg"
            img(src=img)
            //-citation : https://images.unsplash.com/photo-1608633215128-a1e1eb92214d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTk0fHxjYXBwdWNjaW5vfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60
        h3 caffe mocha 
        div.cost $11.99
        a(href="#").btn Add to cart
      div.box
        a(href="#")
            - var img = "../images/coffee12.jpg"
            img(src=img)
            //-citation : https://images.unsplash.com/photo-1460865332492-81fd69fc5996?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGNvZmZlZSUyMGZyb3RofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60 
        h3 caffe latte 
        div.cost $13.99
        a(href="#").btn Add to cart
      div.box
        a(href="#")
            - var img = "../images/coffee4.jpg"
            img(src=img)
            //-citation : https://images.unsplash.com/photo-1515823064-d6e0c04616a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Z3JlZW4lMjBjb2ZmZWV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60
        h3 mocha green 
        div.cost $14.99
        a(href="#").btn Add to cart
      div.box
        a(href="#")
            - var img = "../images/coffee13.jpg"
            img(src=img)
            //-citation : https://images.unsplash.com/photo-1474255710329-379550af928d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fGNvZmZlZSUyMGZyb3RofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60
        h3 cappuccino 
        div.cost $15.99
        a(href="#").btn Add to cart
         